<div class="table-responsive">
 
  <table class="table table-hover table-striped  align-top table-sm ">
     
      <tbody>
        <tr class="align-bottom">
          <th scope="row">ID:{{form._id}}</th>
          <td class="align-top">Name:{{form.name}}</td>
          <td class="align-top">Email:{{form.email}}</td>
          <td class="align-top">Phone Number:{{form.cellNumber}}</td>
          <td class="align-top">Subject: {{form.subject}}</td>
          <td class="align-top">Message: {{form.text}}</td>
          
         
        </tr>
        
        </table>
      </div>
     
   
