<div class="table-responsive">
 
  <table class="table table-hover table-striped  align-top table-sm ">
     
      <tbody>
        <tr class="align-bottom">
          <th scope="row">ID:</th>
          <td class="align-top">Name:{{user.name}}</td>
          <td class="align-top">Email:{{user.email}}</td>
          <td class="align-top">Password:{{user.password}}</td>
          <td class="align-top">Rol:{{user.role}} </td>
          
        
        </tr>
        
        </table>
      </div>
     