*{
  display: flex;
  margin: 0;
  padding:0;
}

  .font {
   
  
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#020202,#3d0c49,#16091c,#282834) ;
   
    
   
  }
  h1 {
    color: rgb(11, 12, 11);
    font-family: arial;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 5px;
    line-height: 1rem;
    text-shadow: 0 0 3px rgb(248, 244, 244);
  }
  .button {

    display: flex;
    margin: 20px;
    padding: 15px 30px;
    background:  rgb(211, 167, 227);
    color: rgb(6, 6, 6);
    font-family: arial;
    letter-spacing: 5px;
    border-radius: .4rem;
    text-decoration: none;
    box-shadow: 0 0 15px #5b5c6b;
    
  }
  