
.hero {
  background: linear-gradient(#020202,#3d0c49,#16091c,#282834) ;
    
    width: 100%;
    background-size: cover;
    position: relative;
    min-height: 60vh;
    padding: 160px 0 60px 0;
  }
  
  .hero h2 {
    color: white;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .hero h2 span {
    color: var(--color-primary);
  }
  
  .hero p {
    color: #4f4f5a;
    font-weight: 400;
    margin-bottom: 30px;
  }
  
  .hero .btn-book-a-table {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 12px 36px;
    border-radius: 50px;
    transition: 0.5s;
    color: rgb(248, 233, 233);
    background:rgb(107, 101, 101);
    box-shadow: 0 8px 28px rgba(13, 12, 12, 0.2);
  }
  
  .hero .btn-book-a-table:hover {
    background: rgba(92, 45, 104, 0.8);
  }
 
  

  
 
  
 
  
  
  
