<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Explora Tus sentidos Con La Gastronomia Colombiana<br></h2>
          <p>Somos percibidos por nuestros clientes como un referente para satisfacer sus necesidades en
            alimentacion de calidad. Los ejes para nuestra organizacion son:la Innovacion, Materia prima
            de calidad y confianza en lo que hacemos-.</p>
          
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="menues" class="btn-book-a-table" routerLink="/products">Nuestros Menus</a>
            
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="../../../assets/images/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

