<div id="carouselExampleControls" class="carousel slide d-block" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/img11.jpg" class=" w-100 rounded mx-auto d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/img4.jpg" class=" w-100 rounded mx-auto d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/img5.jpg" class=" w-100 rounded mx-auto d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/img6.jpg" class=" w-100 rounded mx-auto d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/img7.jpg" class=" w-100 rounded mx-auto d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/img8.jpg" class=" w-100 rounded mx-auto d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/img9.jpg" class=" w-100 rounded mx-auto d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/img10.jpg" class=" w-100 rounded mx-auto d-block" alt="...">
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="title">NUESTROS MEJORES PLATOS</div>

<main>
    <div class="productCardContainer">
      <app-products *ngFor="let product of products" [product]="product"></app-products>        
    </div>

</main>
