<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="../../../assets/logo/TCG-15.png"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Bienvenidos a:Team Colombia Gourmet</h4>
                  </div>
                <form (submit)="login()">
                    <p>Inicio de Sesion</p>
                    
                    <div class="form-group mt-3 mb-4">
                        <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required autofocus>
                    </div>
                    
                    <div class="form-group mt-3 mb-4">
                        <input type="password" [(ngModel)]="user.password"name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 me-2">
                        Login
                    </button>
                    <a class="text-muted" href="/register">Registrate</a>
                    </div>
                
                </form>
            </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
          <div class="text-white px-3 py-4 p-md-5 mx-md-4">
            <h4 class="mb-4">Acerca de Nosotros</h4>
            <p class="small mb-0">Somos un equipo de trabajo especializado en prestar un excelente servicio a nuestros clientes,
              lider en el mercado debido a nuestra gastronomia con un gran gusto colombiano, nuestro
              compromiso
              en velar por el bienestar y servicio de nuestros comensales.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>

