
<div class="card">
  <div class="row g-0">
    <div class="col-md-4">
        <img [src]="product.imgUrl" class="card-img-top p-3" alt="Product image" onError="this.src='../../assets/images/default.jpg'"> 
   </div>
   <div class="col-md-8">
    <div class="card-body">
        <h5 class="card-title" >{{product.title}}</h5>
        <p class="card-text">DESCRIPCION:{{product.description}}</p> 
        <h5 class="list-group-item ">CATEGORIA:{{product.category}}</h5>
        <h5 class="list-group-item">ORIGEN:{{product.origin}}</h5>
        <p class="list-group-item">INGREDIENTES{{product.ingredients}}</p>     
      </div>
    </div>
  </div>
</div>
   
