<div class="container">
  <div class="card">  
<div class="card" style="width: 20rem;   ">
  <div class="card-header">
    <h5 class="card-title" >{{product.title}}</h5>
  </div>
  <img [src]="product.imgUrl" class="card-img-top" alt="Product image" onError="this.src='../../assets/images/default.jpg'"> 
  <div class="card-body">
    
    <p class="card-text">DESCRIPCION:{{product.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <h5 class="list-group-item ">CATEGORIA:{{product.category}}</h5>
    <h5 class="list-group-item">ORIGEN:{{product.origin}}</h5>
    <p class="list-group-item">INGREDIENTES:{{product.ingredients}}</p> 
  </ul>
  <div class="card-footer">
    © 2022 Copyright:
  </div>
</div>
</div>
</div>
 
