
<div class="container p-3 ">
  <div class="card">  
<div class="card" style="width: 35rem; height:35rem">
  <div class="card-header">
    <h5 class="card-title" >{{product.category}}</h5>
  </div>
  <div class="container">
  <div class="tamaño">
  <img [src]="product.imgUrl" class="img" style="text-align: center;"  alt="Product image" onError="this.src='../../assets/images/default.jpg'"> 
</div>
  <h5 class="card-title" >Nombre: {{product.title}}</h5>
  <h5 class="card-title" >Origen:{{product.origin}}</h5>
  <h5 class="ingredients">Ingredientes:{{product.ingredients}}</h5>

</div>
  <a href="/form" class="btn btn-primary" >Mas Informacion</a>

 
</div>
</div>
</div>
 
