.card-footer{
  background: linear-gradient(to right, #0f0f10,#290b17,#4a0e38, #5b105b );
  color: white;
}

.card-header{
  color: white;
  background: linear-gradient(to right, #0f0f10,#290b17,#4a0e38, #5b105b );

}

