<!-- Remove the container if you want to extend the Footer to full width. -->
    <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>BIT 2022 Final Proyect</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
                <div class="col-auto">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-outline-light mb-4 p-3 " routerLinkActive="active" href="footer" routerLink="/form">
                      Subscribe
                    </button>
                  </div>
              <!-- Email input -->
              
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
         
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="copyright" routerLink="/home"routerLinkActive="active">Team Colombia Gourmet</a>
    </div>
    <!-- Copyright -->
  </footer>
    

